KOBOCAT_BUCKET_NAME=purbalingga
KPI_BUCKET_NAME=stellar-orb-451904-d9_appflowy
SA_KEY_PATH=./sa-key.json
KOBOCAT_BUCKET_PATH=./buckets/kobocat
KPI_BUCKET_PATH=./buckets/kpi
ALLOW_OTHER=true
IMPLICIT_DIRS=true